html, body {
            font-family: 'Orbitron', monospace !important;
            font-weight: 900 !important;
            background-color: #000000 !important;
            color: white !important;
        }
        

        .logo-text {
            font-family: 'Orbitron', monospace !important;
            font-weight: 900 !important;
            letter-spacing: 0.05em; 
        }

        * {
            font-family: inherit !important;
        }

.banner {
    background-image: 
                linear-gradient(45deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%),
                linear-gradient(135deg, rgba(255, 255, 255, 0.03) 25%, transparent 25%),
                linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.03) 75%),
                linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, 0.03) 75%);
            background-size: 40px 40px;
            background-position: 0 0, 20px 0, 20px -20px, 0px 20px;
}

@keyframes FadeIn {
    from { opacity: 0; 
           transform: translateY(20px);
        }
    to { opacity: 1; 
        transform: translateY(0px);
        }
}

.page-load {
    animation: FadeIn 1.9s ease !important;
}
.logo-circle {
    animation: FadeIn 0.9s ease !important;
}